/* 购物车列表 */
.cart_item{display: flex;padding: 24rpx 20rpx 24rpx 30rpx;background-color: #fff;border-bottom: 1rpx #eee solid;align-items: center;position: relative;}
.cart_item .pro_img{padding: 0 30rpx 0 20rpx;}
.cart_item .pro_img .img{height: 160rpx;width: 160rpx;display: flex;}
.cart_item .title{font-size: 32rpx;color: #000000;line-height: 1.2;}
.cart_item .type{font-size: 28rpx;color: #434343;}
.cart_item .del{position: absolute;right: 20rpx;top: 20rpx;border-radius: 50%;width: 56rpx;height: 56rpx;line-height: 56rpx;text-align: center;}
.cart_item .info{flex: 1;display: flex;flex-wrap: wrap;align-content: space-between;min-height: 160rpx;}
.cart_item .no-tag{width: 85rpx;text-align: center;height: 48rpx;line-height: 44rpx;font-size: 24rpx;color: #777;background-color: #eee;border-radius: 6rpx;}


/* 无商品 */
.no_pro .cart_item{padding: 24rpx 20rpx 24rpx 10rpx;}
.no_pro .pro_img{padding: 0 30rpx 0 10rpx;}


/* 结算 */
#cartfooter{height: 100rpx;line-height: 100rpx;position: fixed;left: 0;bottom: 0;width: 100%;background: #fff;z-index: 9;display: flex;}
#cartfooter .lInfo{display: flex;justify-content: space-between;flex: 1;width: 100%;overflow: hidden;border-top: 1rpx #f7f7f7 solid;}
#cartfooter .lInfo .group{display: flex;align-items: center;}
#cartfooter .zheng{padding: 0 10rpx 0 20rpx;display: flex;align-items: center;}
#cartfooter .zheng checkbox{display: flex;}
#cartfooter .submit{width: 300rpx;text-align: center;height: 100rpx;line-height: 100rpx;border-radius: 0;}


/* 选中 */
.zheng uni-checkbox .uni-checkbox-input.uni-checkbox-input-checked{color: #A98853;}


/* 空 */
.cart-empty{text-align: center;}
.cart-empty .img{width: 180rpx;height: 180rpx;}
.cart-empty .btn{border: 1rpx #A98853 solid;background: transparent;border-radius: 72rpx;height: 72rpx;line-height: 70rpx;width: 240rpx;margin: 0 auto;color: #A98853;font-size: 32rpx;}