#mode .weui-cell:before{border: 0;}

.block-sec{background: #fff;margin-bottom: 12px;border-radius: 10px;}
/* 选择地址 */
#address .add-add{display: flex;justify-content: space-between;align-items: center;}
#address .add-icon{background: #3384FA;width: 40px;height: 40px;text-align: center;line-height: 40px;color: #fff;font-size: 18px;border-radius: 6px;}
#address .add-txt{flex: 1;overflow: hidden;}


/* 地址信息 */
.add-info{display: flex;justify-content: space-between;align-items: center;}
.add-info .info{flex: 1;overflow: hidden;}
.add-info .info .name{line-height: 24px;}
.add-info .info .add-detail{display: flex;}
.add-info .info .add-detail .label{width: 45px;line-height: 20px;}
.add-info .info .add-detail .name{flex: 1;overflow: hidden;line-height: 20px;}
.pay_line image{width: 100%;display: flex;height: 2px;}


/* 商品信息 */
.order_pro{padding: 20upx;display: flex;}
.order_pro .pro_img{padding-right: 20upx;}
.order_pro .pro_img .img{width: 140upx;height: 140upx;display: flex;border-radius: 6upx;}
.order_pro .pro_info{flex: 1;}
.order_pro .name{font-size: 30upx;line-height: 40upx;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}



/* 计算与优惠信息 */
#calculation .list-group {padding: 10px 15px;line-height: 30px;display: flex;justify-content: space-between;}


/* 结算脚部 */
#it_footer {height: 100upx;line-height: 100upx;position: fixed;left: 0;bottom: 0;width: 100%;background: #fff;z-index: 1;border-top: 1upx solid #f7f7f7;padding: 10upx 30upx;}
#it_footer .f_right .txt{font-size: 30upx;}
#it_footer .f_right /deep/.nav{color: #fff;background: #FF4351;font-size: 30upx;border-radius: 40upx;line-height: 80upx;width: 100%;}