.bg-white{position: fixed;background: #fff;top: 0;left: 0;right: 0;bottom: 0;z-index: 1;}
.zIndex2{position: relative;z-index: 2;}


.logo{display: flex;justify-content: center;}
.logo .img{width: 180rpx;height: 180rpx;border-radius: 20rpx;display: flex;}


.login-list{padding: 30rpx 30rpx 0;}


/* 信息填写 */
.login-info ::v-deep .dx-cell:after{background-color: #ddd;left: 0;}
.login-info .slot-icon .icon{font-size: 36rpx;color: #888;padding-right: 30rpx;}
.login-info ::v-deep .dx-input{font-size: 36rpx!important;}
.login-info .login-pla{font-size: 34rpx!important;}