.content-container,.content-wrapper{}

.body-shadow{background: #fff;border-radius: 2px;-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);border-top: 1px #eee solid;}

.note{display: flex;justify-content: space-between;background: #fff;}
.note a{display: block;}
.note a:hover{text-decoration: none;}
.note .n-list{color: #333;}

.state-group{display: flex;justify-content: space-between;}
.state-group .card-state{width: 58%;}
.state-group .card-body{display: flex;}
.state-group .card-body .cb-item{width: 100%;justify-content: center;display: flex;}
.state-group .card-body .cb-item .iconfont{line-height: 30px;}
.state-group .card-body .cbR .num{color: #409EFF;}
.state-group .account-state{width: 40%}
.state-group .account-body .ab-group{display: flex;}
.state-group .account-body .ab-group p{width: 33.33%;}
.state-group .account-body .ab-group p span{color: #409EFF;}

.data-body{display: flex;}
.data-body .data-group{width: 100%;}
.data-body .dataL .tabGroup{display: flex;flex-wrap: wrap;margin: 20px -3px;}
.data-body .dataL .tabGroup .border1{width: 30%;margin: 3px;min-height: 110px;min-width: 130px;border: 1px solid rgba(64,158,255,.1);}
.data-body .dataL .tabGroup .border2{margin: 3px;border: 1px solid rgba(64,158,255,.3);min-height: 105px;}
.data-body .dataL .tabGroup .tab-con{margin: 3px;border: 2px solid rgba(64,158,255,.6);min-height: 96px;padding: 15px 0;text-align: center;}
.data-body .dataL .tabGroup .tab-con .name{width: 100%;line-height: 30px;padding-bottom: 10px;}
.data-body .dataL .tabGroup .tab-con .num{width: 100%;color: #4e4e4e;line-height: 50px;}
.data-body .dataR .Rtop{display: flex;align-items: center;}


/* 总盒子 */
.dt-box {margin-bottom: 20px;background-color: #fff;}
.dt-box {position: relative;}


/* 暂无数据 */
.dt-loading, .dt-noDataWrap {position: absolute;left: 0;right: 0;bottom: 0;top: 40px;background-color: #fff;}
.dt-noDate, .dt-noDate2 {width: 50%;margin-left: auto;margin-right: auto;font-size: 14px;color: #999;text-align: center;padding-top: 85px;position: absolute;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.dt-noDate {background: url(/images/wap/noDate.png) no-repeat top;top: 50%;}


/* 系统流程 */
.demo {padding: 0 20px;height: 25px;width: 84px;line-height: 25px;font-size: 12px;background: #f6f6f6;color: rgba(48,64,79,.5);}
.demo:after, .demo:before {content: "";position: absolute;}
.demo:before {height: 13px;width: 13px;top: 5px;left: -19px;background: transparent;border-left: 2px solid rgba(82,149,231,.1);border-bottom: 2px solid rgba(82,149,231,.1);-webkit-transform: rotate(238deg) skew(.08turn);transform: rotate(238deg) skew(.08turn);}
.demo:after {right: -7px;border-left: 7px solid #f6f6f6;border-bottom: 13px solid transparent;border-top: 12px solid transparent;}
.demo, .demo span {position: relative;display: inline-block;text-align: center;}
.demo span {width: 15px;height: 15px;line-height: 15px;vertical-align: bottom;margin: 5px;border-radius: 50%;overflow: hidden;font-style: normal;background: rgba(48,64,79,.35);color: #fff;}
.demo span i {font-style: normal;}
.demo:hover span{color:#5295e7;background-color:#fff!important}


/* 模块标题 */
.dt-boxHead {position: relative;height: 40px;font-size: 16px;padding-left: 20px;}
.dt-boxTitle {position: relative;padding-left: 10px;color: #30404f;line-height: 40px;font-size: 16px;}
.dt-boxTitle:before {content: "";position: absolute;top: 50%;margin-top: -8px;left: 0;width: 4px;height: 16px;background-color: #5295e7;}
.dt-boxHeadR {position: absolute;top: 12px;right: 20px;color: rgb(74, 144, 226);}
.dt-boxHeadR span{font-size: 14px;position: relative;top: -5px;left: 4px;}


/* 常用功能 */
#desktopGuide{margin: 0;}
#desktopGuide .demo-group{height: 62px; padding-top: 8px; padding-left: 20px;}
#desktopGuide .demo:first-child {padding-left: 0;}
#desktopGuide .demo:first-child:before{display: none;}
#desktopGuide .demo:before {content: "";position: absolute;height: 23px;width: 23px;top: 6px;left: -13px;background: transparent;border-left: 5px solid #fff;border-bottom: 5px solid #fff;-webkit-transform: rotate(238deg) skew(.08turn);transform: rotate(238deg) skew(.08turn);}
#desktopGuide .demo:after {position: absolute;right: -11px;top: -1px;border-left: 11px solid #f6f6f6;border-bottom: 18px solid transparent;border-top: 18px solid transparent;z-index: 8;border-left-color: #eef4fc;}
#desktopGuide .demo:hover{background:#5295e7;z-index:10;color:#fff!important}
#desktopGuide .demo:hover span{color:#5295e7;background-color:#fff!important}
#desktopGuide .demo:hover:after{border-left-color:#5295e7}
#desktopGuide .start2 {border-radius: 18px 0 0 18px!important;}
#desktopGuide .demo {width: 175px;height: 35px;font-size: 14px;line-height: 27px;text-align: center;background: #eef4fc;color: #5295e7;}
#desktopGuide .demo span{position: relative;top: -14px;color: #fff;background: #5295e7;}
#desktopGuide .demo span i{display: inline;}
#desktopGuide .demo label{line-height: 36px;}
#desktopGuide .right{right: 20px;top: 55px;position: absolute;height: 18px;font-size: 14px;font-family: MicrosoftYaHeiUI;color: rgba(48,64,79,.75);line-height: 18px;}
#desktopGuide .right span{width: 29px;height: 18px;font-size: 14px;font-family: MicrosoftYaHeiUI;color: #5295e7;line-height: 18px;}
#desktopGuide .end2{
    border-radius: 0 18px 18px 0!important;
}
#desktopGuide .end2:after{display: none;}


/* 左右框 */
.deskTop-container{padding: 20px 0 0;display: flex;}
.dt-LBox, .dt-RBox {display: inline-block;vertical-align: top;}
.dt-LBox {width: 70%;padding: 0 10px 0 0;}
.dt-RBox {width: 30%;padding: 0 0 0 10px;}
.dt-LBox .dt-box {min-height: 250px;}
.dt-RBox .dt-box {height: 250px;}
.dt-LBox .dt-data{min-height: 450px;}


/* 数据概览 */
.dt-innerL2 {padding: 10px 0 5px 20px;display: flex;}
.dt-warp{width: 16%;position: relative;}
.dt-warp .dt-btnLink{background-color: #f5f8fb;margin: 0 auto 20px;display: block;}
.dt-btnLink {width: 100px;height: 100px;display: inline-block;margin: 0 20px 20px 0;border: 1px solid #eceff3;border-radius: 10px;font-size: 14px;color: #4a90e2;padding-top: 9px;text-align: center;-webkit-transition: all .2s ease;transition: all .2s ease;}
.dt-warp .text{line-height: 2;font-size: 12px;}
.dt-warp .dt-btnLink-h .hover{display: none;}
.dt-btnLink-h:hover{background:#5295e7!important;color:#fff;border:1px solid #5295e7;-webkit-box-shadow:0 2px 7px #5896dd;box-shadow:0 2px 7px #5896dd;cursor:pointer}
.dt-btnLink:hover{color:#fff!important;border:1px solid #4a90e2!important;-webkit-box-shadow:0 2px 7px #5896dd!important;box-shadow:0 2px 7px #5896dd!important}
.dt-warp .dt-btnLink-h:hover .hover{display:inline-block}
.dt-warp .dt-btnLink-h:hover .normal{display:none}
.dt-warp .foot{position: absolute;bottom: 26px;left: 0;width: 100%;text-align: center;color: #30404f;font-size: 18px;font-family: Arial;color: #4a90e2;}
.dt-warp .dt-btnLink-h:hover .foot{color: #fff;}



.chartsbox {width: 100%;height: 260px;margin: 0 auto;padding: 0 50px;}

.chartsbox {width: 100%;height: 260px;margin: 0 auto;padding: 0 50px;}
.ad-service{min-height: 200px;background-color: #fff;padding: 30px 0;}
.ad-service .img{width: 680px;margin: 0 auto;}

.dt-innerL4 {padding: 10px 20px 20px;}
.dt-innerL4 li {padding-bottom: 20px;display: inline-block;width: 190px;padding-right: 10px;font-size: 14px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.dt-innerL4 .text2 {color: #30404f;}
.dt-innerL4 .text3 {color: #728195;}
.dt-innerL4 .text3 {padding-left: 10px;}

.dt-innerR1 {margin: 0 20px;height: 190px;overflow-y: auto;}

.dt-innerR1 .dt-listItem1 {padding-right: 60px;}

.dt-listItem1, .dt-listItem2 {position: relative;height: 38px;line-height: 38px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 14px;}
.dt-tag1.color1{background-color: #e9b719;}
.dt-tag1.color2{background-color: #f57623;}
.dt-tag1.color3{background-color: #3f6ec1;}
.dt-tag1.color4{background-color: #6dc6cd;}
.dt-tag1.color5{background-color: #245e91;}

.dt-RBox .text5 {color: #30404f;}


.dt-tag1 {display: inline-block;margin-right: 4px;height: 18px;line-height: 18px;border-radius: 54px;padding: 0 6px;font-size: 12px;color: #fff;}
.dt-innerR2 {height: 200px;overflow: hidden;}

.dt-listItem2 {padding-left: 20px;padding-right: 80px;border: solid transparent;border-width: 1px 0;}
.dt-listItem2 .typeN {color: #4a90e2;}
.dt-itemDate {position: absolute;right: 20px;top: 0;font-size: 14px;color: #728195;}
.dt-listItem2.read .typeN, .dt-listItem2.read a {color: #738194;}

.dt-listItem2:hover{background-color: #f9fbfd;cursor: pointer;border: solid #d4dfe5;border-width: 1px 0;color: #4a90e2}
.dt-listItem2.read:hover .typeN,.dt-listItem2:hover a{color: #4a90e2}


.dt-innerR1::-webkit-scrollbar{width:6px;height:6px}
.dt-innerR1::-webkit-scrollbar-thumb{border-radius:3px;background-color:rgba(0,0,0,.2)}
.dt-innerR1::-webkit-scrollbar-button{width:0;height:0;display:none}
.dt-innerR1::-webkit-scrollbar-corner{background-color:transparent}


.dt-RBox .dt-box.dt-card{height: 180px;}
.dt-innerR3{padding: 10px 20px;}
.dt-listItem3{display: flex;justify-content: space-between;padding: 10px 0;}
.dt-listItem3 label,.dt-listItem3 .rp{color: #666;margin-bottom: 0;}
.dt-listItem3 .cp,.dt-listItem3 .rp span{color: #409EFF;}