
.container{width:100%;padding:0;}
.admin_logo{float:left;color:#fff;width:190px;line-height:50px;text-align:center;}
#sidebar_bg{position:fixed;top:0px;bottom:0px;background:#f2f2f2;width:188px;border:#ccc 1px solid; z-index:-1;}
#sidebar{width:186px;position:absolute;top:50px;left:0px;}
#main{margin-left: 190px;margin-right: 0;margin-top: 0;min-height: 100%;padding: 0;padding:10px;}
.page-header{margin: 20px 0 20px;}

#sidebar .nav li{border-bottom: 1px solid #e5e5e5;border-top: 1px solid #fcfcfc;}
#sidebar .nav li .fa{position:relative;display: block;height: 38px;line-height: 36px;padding: 0 16px 0 7px;color: #585858;text-shadow: none!important;font-size: 13px;text-decoration: none;padding-left:20px;background:#f9f9f9 url(https://niu-shop-app.doxinsoft.com/images/common/dx_pic.png) no-repeat;font-size:14px;cursor:pointer;font-weight:bold;}
#sidebar .nav li .fa2{background:#f9f9f9 url(https://niu-shop-app.doxinsoft.com/images/common/dx_pic.png) 0 -558px no-repeat;}
#sidebar .nav li .fa span{position:absolute;top:8px;left:15px;width:20px;height:20px;background-image:url(https://niu-shop-app.doxinsoft.com/images/common/dx_pic.png)}
#sidebar .nav .fnav .more{display:block;width:30px;height:30px;background:#eee;text-align:center;line-height:30px;cursor:pointer;position: absolute;top: 5px;right: 10px;}
#icon_zhgl{background-position:0px -130px;}
#icon_kcgl{background-position:-20px -130px;}
#icon_zlgl{background-position:-40px -130px;}
#icon_rcgl{background-position:-60px -130px;}
#icon_zzj{background-position:-80px -130px;}
#icon_tzgg{background-position:-100px -130px;}
#sidebar .nav li .fa:hover{background-color:#fff;color:#438eb9;}
#sidebar .nav .open ul{display:block;}
#sidebar .nav .clo ul{display:none;}
#sidebar .submenu{background-color: #fff;border-top: 1px solid #e5e5e5;}
#sidebar .submenu li{border-bottom:0;}
#sidebar .submenu .za{display: block;color: #616161;padding: 7px 0 9px 37px;margin: 0;border-top: 1px dotted #e4e4e4;text-decoration: none;background:url(https://niu-shop-app.doxinsoft.com/images/common/dx_pic.png) 20px -50px no-repeat;}
#sidebar .submenu .za:hover{ background-position:20px -85px;}

.w300{width:300px;}
.w400{width:400px;}
.wauto{width:auto;}

.warn_txt{color:#d23330;}

.addtb{width:100%;margin:10px auto;background-color:#ccc;border-collapse:separate;border-spacing:1px;}
.addtb td,.addtb th{background:#fff;padding:10px 8px;}
.addtb .name{width:120px;text-align:right;background:#f2f2f2;}
.addtb .value{}

.listtb{width:98%;margin:10px auto;background:#ccc;}
.listtb td,.listtb th{padding:10px 8px;}
.listtb th{background:url(https://niu-shop-app.doxinsoft.com/images/common/dx_pic.png) 0 -240px;border-bottom:#ddd 1px solid;color:#666;}
.listtb td{background:#fff;}
.listtb .lbg td{background:#f9f9f9;}
.listtb tr:hover td{background:#f5f5f5;}

.showtb{width:100%;margin:10px auto;background-color:#ccc;border-collapse:separate;border-spacing:1px;}
.showtb td,.showtb th{background:#fff;padding:10px 8px;}
.showtb .name{width:10%;text-align:right;background:#f2f2f2;}
.showtb .value{width:40%;}

#win-bg{position: fixed;width:100%;top: 0;right: 0;top: 0;bottom: 0;background: #000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5; z-index: 998;cursor: pointer;}
#win-con{position: fixed;width: 380px;height: 751px;left: 50%;margin-left: -200px;top: 10px;background: url(https://niu-shop-app.doxinsoft.com/images/phone.png);z-index: 999;}
#win-con .phone{width: 322px;height: 465px;background:#fff;position: absolute;top: 154px;left: 30px;overflow-y: scroll;}
#win-con .phone .bargain-title{font-size: 18px;line-height: 30px;padding: 0 10px;}
#win-con .phone .pro-info{padding: 0 10px;}
#win-con .phone .pro-time span {background:#e33918;	color:#fff;	line-height:30px;	font-family:Arial;	padding:0 10px;	margin-right:2px;	border-radius:5px;	box-shadow:1px 1px 3px rgba(0,0,0,0.2);}
#win-con .phone .pro-rule{padding: 0 10px;}

/********class*******/
.ico_sh{padding:5px 5px 0 0;cursor:pointer;}
.noborder{border:0;background:none;}

.form-group>label[class*="col-"]{font-weight: bold;}

.form-group .col-sm-10{padding-top: 4px;}

.form-group{border-bottom: dashed #eee	 1px;padding-bottom: 10px;}
.form-group .col-sm-10 input{display: inline-block;float:left;}
.form-group input,.form-group select{width: 300px;padding: 7px 4px!important;}
.btn{border-radius: 3px!important;}

.form-group label{width: 180px;font-weight: 500!important;}

.posiVc{position: relative;}
.posiVc .Validform_checktip{position: absolute;left:100%;top: 0px;}

.page-header{border-bottom: 1px dotted #428bca;}
.page-header h1{font-family: "microsoft YaHei";font-size: 20px!important;}
.page-header .btn{padding: 2px 12px;height: 34px;line-height: 22px;}
.page-header .btn_color2{line-height: 30px!important;}
h3.header{padding-left:30px;font-family: "microsoft YaHei";font-size: 16px;}

.class-fselect{border-radius: 3px!important;border: 1px #cdd9e6 solid!important;}
.class-fselect:hover{border: 1px #42cdb2 solid!important;}


.loading-bg{display:none; position:fixed; top:0px; right:0; bottom:0; left:0; z-index:999998; width:100%; height:100%; _padding:0 20px 0 0; background:#fff; filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8; }
.loading{position: fixed;top: 50%;left: 50%;display: none;z-index:999999;margin-left: -15px;}

.theme-popover-mask {
	z-index: 100001;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	display:none
}
.theme-popover {
	z-index:100002;
	position:fixed;
	top:50%;
	left:50%;
	width:520px;
	margin:-210px 0 0 -260px;
	border-radius:5px;
	border:solid 1px #666;
	background-color:#fff;
	display:none;
	/*box-shadow: 0 0 10px #666;*/
	padding-bottom: 30px;
}
.theme-popover2{width:720px;margin:-280px 0 0 -360px;}
.theme-popover3{width:300px;margin:-210px 0 0 -150px;}
.theme-popover4{width:820px;margin:-180px 0 0 -410px;}
.theme-poptit {
	border-bottom:1px solid #ddd;
	padding:5px 12px;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	background: #f5f5f5;
	font-family: '微软雅黑';
}
.theme-popbod {
	padding:10px 15px;
	color:#444;
}
.theme-popbod form ul{padding: 0;margin: 0;}
.theme-popbod form li{list-style: none;padding: 10px 0;}
.theme-popbod form li .name{width: 80px;float: left;text-align: right;}
.theme-popbod form li .name label{font-weight: bold;}
.theme-popbod form li .value{float: left;}
.theme-popbod form .log-input{width: 330px;padding: 0 10px;font-weight:bold;height: 40px;line-height: 40px;border: #999 1px solid;}
.theme-popbod form li .msg{height: 30px;color: #f00;}
.theme-popbod form li h3{font-size: 28px;color: #e33;text-align: center;	font-family: '微软雅黑';}
.theme-popbod .toreg{text-align: center;}
.theme-popbod .logbtn{padding: 20px 0;}
.theme-popbod .log-btn{width: 100%;height: 40px;border: 0;background: #0062b1;color: #fff;font-size: 16px;cursor: pointer;}
.theme-popbod .log-btn{display: block;line-height:40px;text-align: center;margin: 5px 0;}
.theme-popover2 .log-btn{width: 650px;}
.theme-popover3 .log-btn{width: 220px;}
.theme-poptit .close,.theme-poptit .autoclose{
	float:right;
	color:#666;
	padding:5px;
	margin:-2px -5px -5px;
	font:bold 14px/14px simsun;
	text-shadow:0 1px 0 #ddd
}


.pull-right{font-size: 14px;}

*{padding:0;margin:0;}
body{font-family: "microsoft YaHei";font-size:14px;color:#333;}
img{border:0;}
ul{list-style: none;}
.hidd{display:none;}
.inline{display:inline-block;}
.clear{clear:both;}
.clearfix{zoom: 1;}
.pointer{cursor:pointer;}

.no-radius{box-shadow: none;}
.no-radius .list-group-item{border-radius: 0;}

.mt-10{margin-top: 10px;}
.mb-10{margin-bottom: 10px;}
.mt-0{margin-top: 0px;}
.mb-0{margin-bottom: 0px;}
.mtrbl-15{margin: 15px;}

.bd-t{border-top: #eee 1px solid;}
.bd-b{border-bottom: #eee 1px solid;}
.bd-l{border-left: #eee 1px solid;}
.bd-r{border-right: #eee 1px solid;}
.bd-t2{border-top: #ddd 1px solid;}
.bd-b2{border-bottom: #ddd 1px solid;}

.w50-auto{width: 50%;margin: 0 auto;}
.w60-auto{width: 60%;margin: 0 auto;}
.w70-auto{width: 70%;margin: 0 auto;}
.w80-auto{width: 80%;margin: 0 auto;}
.w90-auto{width: 90%;margin: 0 auto;}

.main_color{color:#ea5404;}
.main_color_bg{background:#ea5404;}
.price_color{color:#ea5404;}
.dark_color{color: #999;}
.font_bold{font-weight:bold;}
.font_dark{color:#999;}
.font_green{color:#009966;}
.font_red{color:#FF0000;}
.font_tred{color:#F84586;}
.font_orange{color:#ff5500;}

.font_s10{font-size: 10px;}
.font_s12{font-size: 12px;}
.font_s14{font-size: 14px;}
.font_s16{font-size: 16px;}
.font_s18{font-size: 18px;}
.font_s20{font-size: 20px;}

.text_center{text-align:center;}
.text_right{text-align:right;}
textarea{padding:3px;}


.float_l{float:left;}
.float_r{float:right;}

.input_w300{width:300px;}
.input_w200{width:200px;}
.input_w100{width:100px;}
.input_w50{width:50px;}
.input_txt {height: 18px;line-height: 18px;width: 240px;padding: 11px 5px;border: 1px solid #b4b9bd;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}

.input_big{height: 40px;font-size: 18px;font-weight: bold;}

.ope01{background:url('https://niu-shop-app.doxinsoft.com/images/ope01.png') no-repeat;}

.seclist{background-position: -348px -81px;padding:0;padding-left: 50px;}

.norecord{text-align: center;padding: 30px 0;color: #999;}

.icons {width: 16px;height: 16px;overflow: hidden;font-size: 0;line-height: 0;text-indent: -9999px;display: inline-block;background: url(https://niu-shop-app.doxinsoft.com/images/common/global.png) no-repeat;}
.bt{background: url(https://niu-shop-app.doxinsoft.com/images/common/bt.png) no-repeat;}


.pro_pic_tb{}
.pro_pic_tb td{}
.pro_pic_tb p{margin:3px 0;}
.pro_pic_tb img{border:#ccc 1px solid;}
.pro_pic_tb .picdiv{width:92px;height:92px;position:relative;}
.pro_pic_tb .picdiv2{width:82px;height:82px;position:relative;}
.pro_pic_tb .picdiv3{width:192px;height:172px;position:relative;}
.pro_pic_tb .picdel{width:13px;height:13px;position:absolute;right:1px;top:1px;cursor:pointer;display:none;}
.input-file {display:inline-block;background:url(https://niu-shop-app.doxinsoft.com/images/button02.jpg) no-repeat;width:85px;height:25px;line-height:25px;text-align:center;overflow:hidden;position:relative;}
.input-file input {opacity:0;filter:alpha(opacity=0);font-size:100px;position:absolute;top:0;right:0;}


.pagediv{float:right;padding-right: 10px;}

#pop{position:fixed;top:40%;left:50%;padding: 20px;margin-left:-100px;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;background: #000;-moz-border-radius: 10px;-khtml-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;display: none;}
#pop .img{float: left;padding: 0 5px;}
#pop .txt{float: left;color: #fff;font-size: 20px;font-weight: bold;line-height: 60px;text-align: center;}

/*a:link{color:#333; text-decoration:none;}
a:visited{color:#333;text-decoration:none;}
a:hover{color:#ea5404;text-decoration:none;}*/

.mcolor_a:link{color:#ea5404; text-decoration:none;}
.mcolor_a:visited{color:#ea5404;text-decoration:none;}
.mcolor_a:hover{color:#ea5404;text-decoration:underline;}

.ddark_a:link{color:#999; text-decoration:none;}
.ddark_a:visited{color:#999;text-decoration:none;}
.ddark_a:hover{color:#999;text-decoration:underline;}

.dark_a{color:#666; text-decoration:none;}
.dark_a:link{color:#666; text-decoration:none;}
.dark_a:visited{color:#666;text-decoration:none;}
.dark_a:hover{color:#f05a23;text-decoration:none;}

.dark_c_a:link{color:#F9C; text-decoration:none;}
.dark_c_a:visited{color:#F9C;text-decoration:none;}
.dark_c_a:hover{color:#F9C;text-decoration:underline;}

.red_a:link{color:#cf261f; text-decoration:none;}
.red_a:visited{color:#cf261f;text-decoration:none;}
.red_a:hover{color:#cf261f;text-decoration:underline;}

.green_a:link{color:#229224; text-decoration:none;}
.green_a:visited{color:#229224;text-decoration:none;}
.green_a:hover{color:#229224;text-decoration:underline;}

.blue_a{color:#2372b6; text-decoration:none;}
.blue_a:link{color:#2372b6; text-decoration:none;}
.blue_a:visited{color:#2372b6;text-decoration:none;}
.blue_a:hover{color:#2372b6;text-decoration:underline;}

.white_a:link{color:#fff; text-decoration:none;}
.white_a:visited{color:#fff;text-decoration:none;}
.white_a:hover{color:#fff;text-decoration:none;}

.wwhite_a:link{color:#ccc; text-decoration:none;}
.wwhite_a:visited{color:#ccc;text-decoration:none;}
.wwhite_a:hover{color:#ccc;text-decoration:none;}

.dwhite_a:link{color:#a2acb3; text-decoration:none;}
.dwhite_a:visited{color:#a2acb3;text-decoration:none;}
.dwhite_a:hover{color:#a2acb3;text-decoration:underline;}

.white_a_line:link{color:#fff; text-decoration:underline;}
.white_a_line:visited{color:#fff;text-decoration:underline;}
.white_a_line:hover{color:#fff;text-decoration:underline;}

.orange_a:link{color:#F60; text-decoration:none;}
.orange_a:visited{color:#F60;text-decoration:none;}
.orange_a:hover{color:#F60;text-decoration:underline;}


.norecord{text-align: center;background:url(https://niu-shop-app.doxinsoft.com/images/norecord.png) center no-repeat;padding-top: 180px;text-align: center;color: #aaa}

h2.rw_title_h2{color: #FF6633;font-family: 'microsoft YaHei';text-align: center;margin-bottom: 0;margin-top:0;height:60px;line-height: 60px;font-weight: 400;}