.pro-title {margin: 0;height: 40px;position: relative;line-height: 40px;overflow: hidden;}
.pro-content {background: #fff;}
.info-footer {position: fixed;left: 0px;bottom: 0;z-index: 999;text-align: center;}