/* 头部 */
.info-header {width: 100%;display: flex;background-color: #fff;padding: 12upx 0;}
.info-header .ih-item{width: 100%;text-align: center;}
.info-header .ih-item .row{color: #FF4136;font-size: 40upx;line-height: 60upx;margin-bottom: 10upx;}
.info-header .ih-item .name {color: #333;font-size: 28upx;line-height: 36upx;}


/* 产品列表 */
.porducts{padding: 16upx 16upx 14upx 14upx;display: flex;flex-wrap: wrap;}
.pro-div{position: relative;width: 50%;box-sizing:border-box;padding: 14upx 14upx 16upx 16upx;}
.pro-box{background: #fff;border-radius: 12upx;overflow: hidden;}
.pro-box .cms_cover .img{width: 100%;height: 29.1vh;display: flex;}
.pro-box .cms_title{padding: 12upx 20upx 0;color: #333;font-size: 30upx;}
.pro-box .cms_mark{line-height: 40upx;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp: 2;text-align: justify;}
.pro-box .cms_price{padding: 0 20upx 12upx;}