.morder-top{padding: 16upx 20upx;font-size: 28upx;line-height: 44upx;color: #666;border-bottom: 1upx #eee solid;}
.morder-con{padding: 16upx 20upx;font-size: 32upx;line-height: 40upx;color: #333;}
.morder-con .crow{display: flex;margin: 12upx 0;}
.morder-con .llabel{width: 160upx;text-align: right;}
.morder-con .rvalue{flex: 1;}
.morder-nav{padding: 16upx 20upx;display: flex;justify-content: flex-end;border-top: 1upx #eee solid;}
.morder-nav .nav{padding: 6upx 30upx;line-height: 48upx;font-size: 30upx;color: #fff;border-radius: 48upx;}